.inputField {
    display: block;
    width: 100%;
    border: none;
    border-bottom: var(--secondaryColour) solid 2px;
    line-height: 2.3rem;
    font-size: inherit;
}

.inputField:focus {
    outline:none;
    border-bottom: black solid 1px;
}
